.breadcrumbs {
	margin-top: 48px;
	margin-bottom: 40px;
	font-size: 13px;
	color: var(--text-color);
}

.link {
	text-decoration: none;
	transition: all 0.2s ease-in;
}

.link:hover {
	color: var(--accent-color);
}

.current {
	color: #525252;
	opacity: 50%;
	font-weight: 500;
}

.separator {
	margin: 0 0.5rem;
	color: #a8a8a8;
}

@media screen and (max-width: 430px) {
	.breadcrumbs {
		margin-top: 28px;
		margin-bottom: 24px;
		font-size: 10px;
	}

	.separator {
		margin: 0 0.2rem;
	}
}
