.circle1 {
	position: absolute;
	top: -100px;
	left: -700px;
	width: 620px;
	height: 620px;
	border-radius: 100%;
	background: #eef1f8;
	z-index: -1;
}
.circle2 {
	position: absolute;
	top: 150px;
	left: -300px;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	border: 1px solid var(--accent-color);
	opacity: 50%;
	z-index: 0;
}

.circle3 {
	position: absolute;
	top: 300px;
	right: -730px;
	width: 700px;
	height: 700px;
	border-radius: 100%;
	background: #eef1f8;
	z-index: -1;
}

.circle4 {
	position: absolute;
	top: 0px;
	right: -130px;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: #eef1f8;
	z-index: -1;
}

.circle5 {
	position: absolute;
	top: 130px;
	right: -160px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 1px solid var(--accent-color);
	opacity: 50%;
	z-index: 0;
}

.circle6 {
	position: absolute;
	top: 60px;
	left: -100px;
	width: 100px;
	z-index: 0;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6 {
  transition: transform 0.13s cubic-bezier(0.23, 1, 0.32, 1); /* быстро и приятно */
  will-change: transform;
  transform: translate(0px, 0px);
}