.hero {
	margin-top: 110px;
	position: relative;
}

.circle1 {
	position: absolute;
	top: -300px;
	left: -700px;
	width: 620px;
	height: 620px;
	border-radius: 100%;
	background: #eef1f8;
	z-index: -1;
}
.circle2 {
	position: absolute;
	top: 200px;
	left: -350px;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	border: 1px solid var(--accent-color);
	opacity: 50%;
	z-index: 0;
}

.circle3 {
	position: absolute;
	top: -300px;
	right: -830px;
	width: 700px;
	height: 700px;
	border-radius: 100%;
	background: #eef1f8;
	z-index: -1;
}

.circle4 {
	position: absolute;
	top: 520px;
	right: 430px;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: #eef1f8;
	z-index: -1;
}

.circle5 {
	position: absolute;
	top: 650px;
	right: 400px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 1px solid var(--accent-color);
	opacity: 50%;
	z-index: 0;
}

.small {
	font-size: 60px;
	line-height: 65px;
}

.image {
	position: absolute;
	top: 0;
	right: -200px;
}

.hero__text {
	padding-top: 60px;
}

.hero__description {
	font-size: 32px;
	font-weight: 700;
	margin-top: 8px;
}

.promo {
	margin-top: 48px;
}

.buttonBlock {
	margin-top: 72px;
}

.button {
	display: inline-block;
	padding: 25px 100px;
	font-size: 18px;
	background: none;
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
	border-radius: 50px;
	transition: all 0.2s ease;
}

.button:hover {
	background: var(--accent-color);
	color: var(--white-color);
}

@media screen and (max-width: 430px) {
	.hero {
	margin-top: 80px;
	position: relative;
}
	.hero__text {
		padding-top: 20px;
	}

	.small {
		font-size: 46px;
		line-height: 46px;
	}

	.hero__description {
		max-width: 200px;
		font-size: 24px;
		margin-top: 16px;
		margin-bottom: 32px;
	}

	.image {
		position: relative;
		left: -60px;
		width: 100vh;
	}

	.img {
		width: 580px;
		height: 400px;
	}

	.promo {
		margin-top: 24px;
		text-align: center;
	}

	.buttonBlock {
		margin-top: 32px;
		text-align: center;
	}

	.button {
		width: 100%;
		padding: 20px;
	}
}
