.getLesson__buttons {
	display: flex;
	align-items: center;
	gap: 15px;
}

.button__image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--white-color);
	background: none;
	font-size: 18px;
	border-radius: 50px;
	border: none;
	transition: all 0.2s ease;
	cursor: pointer;
	min-height: 49px;
}

.button__max{
	border: 1px solid white;
	background: linear-gradient(35deg, #51b2f9 0%, #434eeb 50%, #8242e3 80%);
}

.button__telegram {
	border: 1px solid white;
	background: #56bff5;
}

.button__whatsapp {
	border: 1px solid white;
	background: #22d565;
}

.button__telegram:hover,
.button__whatsapp:hover,
.button__max:hover {
	opacity: 80%;
}

.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;

	animation: opacity 0.2s ease;
}

.modal {
	background: #f5f7ff;
	padding: 40px;
	border-radius: 20px;
	width: full-content;
	color: var(--text-color);

	animation: fadeIn 0.2s ease;
}

.modal__row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.modal__text {
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.modal__text p {
	width: 430px;
	font-size: 18px;
}

.modal__form p {
	font-weight: 700;
}

.form {
	margin-top: 30px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 430px) {
	.getLesson__buttons {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.button {
		width: 100%;
		padding: 10px 25px;
		justify-content: center;
		font-size: 22px;
	}

	.button__image,
	.button__image img {
		width: 32px;
		height: 32px;
	}

	.modal {
		width: 90%;
		padding: 25px;
	}

	.modal__row {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}

	.modal__text {
		width: 100%;
		gap: 0px;
	}

	.modal__text p {
		width: 100%;
		font-size: 15px;
		margin-bottom: 0px;
	}

	.modal__form p {
		display: none;
	}

	.form {
		text-align: left;
	}
}
