.page {
	margin-bottom: 200px;
}

.why_work,
.create {
	margin-top: 150px;
}

.why_work h2 {
	margin-bottom: 30px;
}

.why_work__grid {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.why_work__card {
	color: var(--white-color);
	background: var(--accent-color);
	border-radius: 20px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.why_work_number {
	font-size: 120px;
	font-weight: 900;
	line-height: 32px;
	margin-top: 50px;
	text-align: right;
}

.why_work_title {
	min-height: 48px;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.why_work_description {
	font-size: 15px;
}

.create h2 {
	margin-bottom: 30px;
}

.create__grid {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.create_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	text-align: center;
	font-size: 18px;
}

.photos {
	margin-top: 150px;
}

.photos h2 {
	margin-bottom: 50px;
	white-space: initial;
}

@media screen and (max-width: 430px) {
	.page {
		margin-bottom: 100px;
	}

	.why_work,
	.create {
		margin-top: 100px;
	}

	.why_work h2 {
		margin-bottom: 15px;
		white-space: initial;
	}

	.why_work__grid {
		margin-top: 30px;
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
	}

	.why_work__card {
		padding: 20px 25px;
	}

	.why_work_number {
		line-height: 50px;
		margin-top: 30px;
	}

	.create h2 {
		margin-bottom: 15px;
	}

	.create__grid {
		margin-top: 30px;
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
	}

	.create_card {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		text-align: center;
		font-size: 18px;
	}

	.photos {
		margin-top: 100px;
	}

	.photos h2 {
		margin-bottom: 30px;
		white-space: pre-line;
	}
}
