.fixedBar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background: linear-gradient(90deg, rgba(62, 132, 252, 1) 75%, rgba(166, 195, 246, 1) 100%);
	color: var(--white-color);
	display: flex;
	padding: 10px 0px;
}

.content {
	position: relative;
	display: flex;
	width: 1200px;
	align-items: center;
}

.timer {
	display: flex;
	justify-content: center;
	gap: 8px; /* расстояние между блоками дней/часов/минут/секунд */
	font-weight: 700;
}

.timeBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 60px; /* минимальная ширина, чтобы было красиво на узких экранах */
}

.timeUnit {
	font-size: 32px;
	line-height: 1;
	min-width: 60px;
	text-align: center;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	padding: 4px 8px;
}

.label {
	font-size: 14px;
	margin-top: 4px;
	opacity: 0.95;
	text-align: center;
	font-weight: 500;
}

.separator {
	margin-top: 2px;
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	color: var(--white-color);
	opacity: 0.9;
	user-select: none;
}

.slogan {
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.slogan p {
	font-size: 28px;
	font-weight: 900;
	text-transform: uppercase;
}

.slogan span {
	font-size: 13px;
}

.percent {
	margin-left: 50px;
	font-size: 28px;
	font-weight: 900;
}

.button {
	margin-left: 30px;
}

.btn {
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	border-radius: 50px;
	background: #ff3d54;
	border: 1px solid #ff3d54;
	color: var(--white-color);
	transition: all 0.2s ease;
}

.btn:hover {
	opacity: 90%;
}

.image {
	position: absolute;
	bottom: -30px;
	right: -170px;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
}

.mobile_fixedBar {
	display: none;
}

@media screen and (max-width: 430px) {
	.fixedBar {
		display: none;
	}

	.mobile_fixedBar {
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 50;
		background: linear-gradient(90deg, rgba(62, 132, 252, 1) 75%, rgba(166, 195, 246, 1) 100%);
		color: var(--white-color);
		padding: 10px 0px;
	}

	.mobile_content {
		width: 100%;
	}

	.mobile_slogan {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 22px;
		margin-bottom: 10px;
	}

	.block {
		display: flex;
		align-content: center;
		justify-content: space-between;
	}

	.mobile_timer {
		display: flex;
		justify-content: center;
		gap: 4px; /* расстояние между блоками дней/часов/минут/секунд */
		font-weight: 700;
	}

	.mobile_timeBlock {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 30px; /* минимальная ширина, чтобы было красиво на узких экранах */
	}

	.mobile_timeUnit {
		font-size: 20px;
		line-height: 1;
		min-width: 50px;
		text-align: center;
		background: rgba(0, 0, 0, 0.15);
		border-radius: 8px;
		padding: 4px 4px;
	}

	.mobile_label {
		font-size: 12px;
		margin-top: 4px;
		opacity: 0.95;
		text-align: center;
		font-weight: 500;
	}

	.mobile_separator {
		margin-top: 2px;
		font-size: 20px;
		font-weight: 700;
		line-height: 1;
		color: var(--white-color);
		opacity: 0.9;
		user-select: none;
	}

	.button {
		margin-left: 0px;
	}

	.btn {
		cursor: pointer;
		font-size: 12px;
		font-weight: 700;
		padding: 10px 30px;
		border-radius: 50px;
		background: #ff3d54;
		border: 1px solid #ff3d54;
		color: var(--white-color);
		transition: all 0.2s ease;
	}
}

@media screen and (max-width: 380px) {
	.btn {
		padding: 10px 15px;
	}
}
