.page {
	margin-bottom: 200px;
}

.why,
.top_ten {
	margin-top: 150px;
}

.why__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
	font-size: 20px;
}

.why__text {
	width: 600px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.why__description {
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.top_ten__desctop_image {
	margin-top: 50px;
}

.top_ten__dessctop_image {
	display: none;
}

/* Секция Что можно разрабатывать на Java  */
.developer_java {
	margin-top: 150px;
}

.developer_java__grid {
	margin-top: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}

.java__column,
.java__column__left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 50px;
}

.java__column__left {
	align-items: flex-end;
}

.java__item_left {
	display: flex;
	align-items: center;
	text-align: end;
	gap: 15px;
}

.java__item__right {
	display: flex;
	align-items: center;
	gap: 15px;
	flex-direction: row-reverse;
}

.java__text p {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
}

.java__text span {
	font-size: 18px;
}

/* Секция Фото  */
.photos {
	margin-top: 150px;
	white-space: initial;
}

.photos h2 {
	margin-bottom: 50px;
}

@media screen and (max-width: 430px) {
	.page {
		margin-bottom: 100px;
	}
	.why,
	.top_ten {
		margin-top: 100px;
	}

	.why__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 00px;
		font-size: 16px;

		flex-direction: column;
	}

	.why__text {
		width: 100%;
		gap: 50px;
	}

	.why__description {
		width: 100%;
	}

	.why__img {
		width: 390px;
	}

	.img {
		width: 100%;
		height: 300px;
	}

	.top_ten__row h2 {
		font-size: 24px;
		text-align: center;
	}

	.top_ten__desctop_image {
		display: none;
	}

	.top_ten__dessctop_image {
		margin-top: 30px;
		display: block;
	}

	/* Секция Что можно разрабатывать на Java  */
	.developer_java {
		margin-top: 80px;
	}

	.developer_java h2 {
		text-align: center;
	}

	.developer_java__grid {
		margin-top: 30px;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}

	.java__column,
	.java__column__left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}

	.java__column__left {
		align-items: flex-start;
	}

	.java__item_left {
		flex-direction: row-reverse;
		text-align: left;
		gap: 15px;
	}

	.java__text p {
		font-size: 18px;
	}

	.java__text span {
		font-size: 14px;
	}

	.java__7 {
		display: none;
	}

	.java__image {
		width: 70px;
	}

	.java__img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	/* Секция Фото  */
	.photos {
		margin-top: 80px;
		white-space: pre-line;
	}

	.photos h2 {
		text-align: center;
		margin-bottom: 30px;
	}
}
